/* styles.css */
body {
    color:white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(6, 3, 30);
}

header {
    background-color: beige;
    color: black;
    text-align: center;

    font-size: 1.5rem;
}

header img {
    max-width: 150px;
    border-radius: 50%;
}
/* main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
section {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
}

li {
    margin-bottom: 5px;
}
.education1{
    top: 10vw;
    position: absolute;
    border-bottom: 5px solid white;
    overflow: hidden;
    animation: animatee1 2s linear forwards;
}
.education2{
    top: 30vw;
    position: absolute;
    border-bottom: 5px solid white;
    overflow: hidden;
    animation: animatee2 2s linear forwards;
}
.education2 ul li a{
    color: white;
    text-decoration: none;
}
.skills1{
    top: 10vw;
    left:50vw;
    position: absolute;
    border-bottom: 5px solid white;
    overflow: hidden;
    animation: animates1 2s linear forwards;
}
.skills2{
    top: 30vw;
    left:50vw;
    position: absolute;
    border-bottom: 5px solid white;
    overflow: hidden;
    animation: animates2 2s linear forwards;
}

@keyframes animatee1 {
    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 50px;
        height: 0px;
    }
    60% {
        width: 50px;
        height: 80px;
    }
}
@keyframes animatee2 {
    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 50px;
        height: 0px;
    }
    60% {
        width: 50px;
        height: 80px;
    }
}
@keyframes animates1 {
    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 50px;
        height: 0px;
    }
    60% {
        width: 50px;
        height: 80px;
    }
}
@keyframes animates2 {
    0% {
        width: 0px;
        height: 0px;
    }
    30% {
        width: 50px;
        height: 0px;
    }
    60% {
        width: 50px;
        height: 80px;
    }
}
/* Add more CSS styles for other sections as needed */